body {
  background-color: #f5f5f5;
}

.header {
  margin: 0.5em;
  font-size: 20px;
}

.header__title--gray {
  color: gray;
}

.body {
  border: 1px solid #000;
  padding: 10px;
  background-color: #fff;
  margin: 0.5em;
  height: 100vh;
}

.wrapper {
  width: 100%;
  position: relative;
}

.main-container__memo-list {
  margin: 0.5rem;
}

.main-container__memo-list--title {
  font-size: 20px;
  color: blue;
  text-decoration: underline;
  margin-bottom: 10px;
  cursor: pointer;
}

.main-container--add-button {
  font-size: 30px;
  color: blue;
  margin-left: 0.5rem;
}

.main-container--auth-button {
  position: absolute;
  top: 8%;
  right: 5%;
  background-color: #dcdcdc;
  border: solid 1px;
  border-radius: 5px;
  padding: 8px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.form-container {
  position: absolute;
  top: 15%;
  right: 5%;
  width: 60%;
  height: 150%;
}

.form-container__text-area {
  width: 100%;
  height: 500px;
  border: solid 1px;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: white;
  font-size: 20px;
}

.form-container__buttons {
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
  text-align: center;
}

.form-container__buttons--edit,
.form-container__buttons--delete {
  background-color: #dcdcdc;
  border: solid 1px;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.form-container__buttons--edit {
  width: 69%;
}

.form-container__buttons--delete {
  width: 29%;
}
